/* Color Variables */

$white-color:#ffffff;
$orange-color:#0F434C;
$blue-color: rgba(29,161,219,1);
$blue-color-hover: rgba(29,161,219,0.75);
$border-color:#486572;

$light-gray-bg:#F9F8F7;
$-light-gray-border:#FFFFFF;
$dark-bg:#0F434C;


