/* Color Variables */

$white-color:#ffffff;
$orange-color:#0F434C;
$blue-color: rgba(29,161,219,1);
$blue-color-hover: rgba(29,161,219,0.75);
$border-color:#486572;
$darker-gray-color:#DCDCDC;
$dark-gray-color:#8C8888;

$light-gray-bg:#F9F8F7;
$light-gray-border:#F4F4F4;
$dark-bg:#0F434C;


