<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<!-- HEADER -->
<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- CTA -->
    <div>
        <% include ../partials/_cta %>
    </div>
    <!-- FILTERABLE CONTENT -->
    <div>
        <% include ../partials/_filterable-content %>
    </div>
    <!-- TESTIMONIAL -->
    <div>
        <% include ../partials/_testimonial %>
    </div>
</main>
<!-- FOOTER -->
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>