/*** mixins.scss ***/
$testimonial-control:'testimonial';
$cta-control:'CTA Quote';
$filterable-control:'filterable content';

//Fonts
@mixin setfontstyle($fontfamily,$fontstyle,$fontsize){
  font-family:$fontfamily;
  font-style:$fontstyle;
  font-size: $fontsize;
}
//Text
@mixin content-text($textcolor:""){
  font-size: 0.85em;
  margin-bottom: 1em;
  color:#{$textcolor};
}
//Buttons
@mixin blue-button(){
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  padding: 1em;
  background: $blue;
  color: $white;
  text-transform: uppercase;
  font-size:0.65em;
  border-radius: 0.25em;
  transtion:all 0.3s ease;
  &:hover{
    background:$blue-hover;
  }

}

//Blue Header Div
@mixin blueheader($controlname){
  background:$blue;
  border-top:1px solid $border-color;
  border-bottom:1px solid $border-color;
  transition:0.3s all ease;

  padding:1em 6em;
  &:hover{
    background:$blue-hover;
  }
  a,span{
    color:$white;
  }
  a{
    text-decoration:none;
    &:before {
      content:$controlname;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight:400;
      text-transform:capitalize;
    }
  }
}