/*** mixins.scss ***/
$testimonial-control:'testimonial';
$cta-control:'CTA Quote';
$filterable-control:'filterable content';

//Fonts
@mixin setfontstyle($fontfamily,$fontstyle,$fontsize){
  font-family:$fontfamily;
  font-style:$fontstyle;
  font-size: $fontsize;
}
//Text
@mixin content-text($textcolor:""){
  font-size: 0.85em;
  margin-bottom: 1em;
  color:#{$textcolor};
}
//Buttons
@mixin blue-button(){
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  padding: 1em;
  background: $blue;
  border-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-size:0.65em;
  border-radius: 0.5em;
  transtion:all 0.3s ease;
  cursor: pointer;
  &:hover{
    background:$blue-hover;
    border-color: $blue-hover;
  }

}

//Blue Header Div
@mixin blueheader($controlname){
  background:$blue;
  border-top:1px solid $border-color;
  border-bottom:1px solid $border-color;
  transition:0.3s all ease;
  padding:1em 6em;
  @include tabletportrait{

  }
  &:hover{
    background:$blue-hover;
  }
  a,span{
    color:$white;
  }
  a{
    text-decoration:none;
    &:before {
      content:$controlname;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight:400;
      text-transform:capitalize;
    }
  }
}

//Dropdown
@mixin dropdowns(){
  display:none;
  font-size:0.75em;
  list-style-type: none;
  transition:0.3s display ease;
  &.active{
    display:block;
    border: 1px solid $medium-gray;
    position: absolute;
    z-index: 9999999;
    background: $white;
    width: 100%;
    li{
      padding:0.5em;
      a{
        color:$blue;
        &:hover {
          color: $blue-hover;
        }
      }
    }
  }
}
