/* cta.scss */
.main-cta {
  .blue-header {
    @include blueheader($cta-control);
  }
  .cta-block {

    &.content-wrapper {
      display: inline-block;
      margin: 1em 0;
      background: $dark-bg;
      padding: 1.5em 1em;
      .content-block {
        width: 75%;
        margin: 0 auto;
        @include tabletportrait{
          width:100%;
        }
        > div {
          float: left;
        }

        p {
          @include setfontstyle('Roboto Slab', normal, 300);
          @include content-text($white);
          color: $white;
          display: inline-block;
          width: 88%;
          float: left;
          padding-right: 1em;
          @include tabletportrait{
            width:100%;
            float:none;
          }
        }

        a {
          &.button {
            @include blue-button();
            display: inline-block;
            position: relative;
            -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
            @include tabletportrait{
              transform: none;
            }
          }
        }
      }

    }
  }
}