/* cta.scss */
.main-cta {
  .blue-header {
    @include blueheader($cta-control);
  }
  .cta-block {

    &.content-wrapper {
      display: table;
      margin: 1em 0;
      background: $dark-bg;
      padding: 1.5em 0;
      width:100%;

      .content-block {
        margin: 0 auto;
        display: flex;
        width: 75%;
        @include tabletportrait{
          width:100%;
        }
        > div {
          float: left;
        }

        p {
          @include setfontstyle($isRoboto, normal, 300);
          @include content-text($white);
          color: $white;
          width: 88%;
          vertical-align: middle;
          line-height: 2;
          padding-right: 1em;

          @include tabletportrait{
            width:100%;
            float:none;
          }
        }

        a {
          &.button {
            @include blue-button();

            align-self: center;
            @include tabletportrait{
              transform: none;
            }
          }
        }
      }

    }
  }
}