/* filterablecontent.scss */
.main-filterable-content {
  .blue-header {
    @include blueheader($filterable-control);
  }
  .filterable-content-block {
    margin: 2em 0;
    .content-wrapper {
      width: 67%;
      margin: 0 auto;
      padding: 1em;
      border: 1px solid $light-gray-border;
      @include tabletportrait{
        width:90%;
      }
      .filters-panel {
        .row {
          display: inline-block;
          width: 100%;
          padding-bottom: 1em;

          > div {
            width: auto;
            float: left;
            font-family: $isMontserrat;
            font-style: normal;
            font-weight: 700;
            @include tabletportrait{
              width: 100%;
              margin-bottom: 1em;
              float: none;
            }
            &:last-child {
              float: right;
              @include tabletportrait{
                float:none;
              }
            }
            &.dropdown {
              margin-right: 1.25em;

              span {
                &.toggle {
                  display:inline-block;
                  color: $dark-gray;
                  text-transform: uppercase;
                  font-size: 1em;
                  margin-bottom:1.5em;
                  font-weight: 700;
                  padding: .5em 2.5em;
                  background: $light-gray-bg;
                  border-bottom: 4px solid $medium-gray;
                  @include phoneportrait{
                    width: 100%;
                    box-sizing: border-box;
                  }
                  @include tabletportrait{
                    text-align: center;
                  }
                  &:hover {
                    cursor: pointer;
                  }
                  &:after {
                    content: 'v';
                    margin-left: 1em;
                    font-size: 0.75em;
                    vertical-align: middle;
                  }
                }
              }
              .dropdown-content{
                display:none;
                @include tabletportrait{
                  display: block;
                }
                ul {
                  @include dropdowns($isdropdown);
                  @include tabletportrait{
                    position:static;
                  }
                }
              }
              &:hover{
                .dropdown-content{
                  display:block;

                }
              }
            }
            &.search-input{
              position:relative;
              display:inline-block;

              .search.icon{
                right: 0;
                color: $black;
                position: absolute;
                margin-top: 0.35em;
                margin-right: 0.5em;
                width: 8px;
                height: 8px;
                border: solid 2px currentColor;
                border-radius: 100%;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);

                &:before{
                  content: '';
                  position: absolute;
                  top: 9px;
                  left: 3px;
                  height: 6px;
                  width: 2px;
                  background-color: currentColor;
                }
              }
              input[type="text"] {
                border: 1px solid $dark-gray;
                padding: 0.5em 1em;
                box-sizing: border-box;
                @include tabletportrait {
                  width: 100%;

                  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $dark-gray;
                    @include setfontstyle($isMontserrat,'normal',400);
                  }
                  &::-moz-placeholder { /* Firefox 19+ */
                    color: $dark-gray;
                    @include setfontstyle($isMontserrat,'normal',400);
                  }
                  &:-ms-input-placeholder { /* IE 10+ */
                    color: $dark-gray;
                    @include setfontstyle($isMontserrat,'normal',400);
                  }
                  &:-moz-placeholder { /* Firefox 18- */
                    color: $dark-gray;
                    @include setfontstyle($isMontserrat,'normal',400);
                  }
                }
              }
              .hidden{
                display:none;
              }
              ul.search-list{
                @include dropdowns($isautocomplete);
              }
            }
          }
          //Second row
          &.second {
            > div {
              margin-right: 1em;
              font-size: 0.95em;
              label {
                color: inherit;
              }
              &.clear-filters {
                a {
                  color: $blue;
                  text-decoration: underline;
                  text-transform: uppercase;
                  transition: 0.3s color ease;
                  font-size: 0.75em;

                  &:hover {
                    color: $blue-hover;
                  }
                }
              }
            }
          }
        }
        .left-panel {
          width: 70%;
          float: left;
        }
      }
      &.list-wrapper {
        ul.contents-list {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0;
          li {
            width:33.33%;
            padding: 1em 1.25em;
            box-sizing: border-box;

            @include tabletportrait{
              width:100%;
            }
            .thumbnail-wrapper {
              img {
                max-width: 100%;
                height: auto;
              }
            }
            .info-wrapper {
              padding-top: 0.75em;
              p[class^='info'] {
                font-family: $isMontserrat;
                font-size: 0.85em;
                padding-bottom: 0.5em;
                text-transform: capitalize;
                &.info-genre {
                  &:before {
                    content: 'Genres:';
                    margin-right: 0.25em;
                  }
                }
              }
            }
            .info-wrapper {
              padding-top: 0.75em;
              p[class^='info'] {
                font-family: $isMontserrat;
                font-size: 0.85em;
                padding-bottom: 0.5em;
                text-transform: capitalize;
                &.info-genre {
                  &:before {
                    content: 'Genres:';
                    margin-right: 0.25em;
                  }
                }
              }
            }

            &.content-item-hidden{
              display:none;
            }
          }
        }
      }
    }
  }
}