/* filterablecontent.scss */
.main-filterable-content {
  .blue-header {
    @include blueheader($filterable-control);
  }
  .filterable-content-block {
    margin: 1em 0;
    .content-wrapper {
      width: 60%;
      margin: 0 auto;
      padding: 1em;
      border: 1px solid $light-gray-border;
      @include tabletportrait{
        width:90%;

      }
      .filters-panel {
        .row {
          display: inline-block;
          width: 100%;
          padding-bottom: 1em;

          > div {
            width: auto;
            float: left;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            @include tabletportrait{
              width:90%;
              margin-bottom:1em;
            }
            &:last-child {
              float: right;
              @include tabletportrait{
                float:none;
              }
            }
            &.dropdown {
              padding: 0.25em 1em;
              background: $light-gray-bg;
              border-bottom: 4px solid $medium-gray;
              margin-right: 1em;

              &:hover {
                cursor: pointer;
              }
              span {
                color: $dark-gray;
                text-transform: uppercase;
                font-size: 0.85em;
                font-weight: 700;

                &:after {
                  content: 'v';
                  margin-left: 1em;
                  font-size: 0.75em;
                  vertical-align: middle;
                }
              }

            }
            input[type="text"] {
              border: 1px solid $dark-gray;
              padding: 0.5em 1em;
              @include tabletportrait{
                width:100%;
              }
              //&:before{
              //  width: 0px;
              //  height: 0px;
              //  content: "";
              //  display: block;
              //  margin-top: 17px;
              //  margin-left: -9px;
              //  transform: rotate(45deg);
              //  -ms-transform: rotate(45deg);
              //  border-bottom: 10px solid currentColor;
              //  -webkit-transform: rotate(45deg);
              //  border-left: 6px solid $dark-gray;
              //  border-right: 6px solid $dark-gray;
              //}
              //&:after{
              //  content: "";
              //  height: 15px;
              //  width: 11.5px;
              //  display: block;
              //  margin-top: -4px;
              //  margin-left: -18px;
              //  background-color: $dark-gray;
              //  transform: rotate(45deg);
              //  -ms-transform: rotate(45deg);
              //  border-bottom-left-radius: 50px;
              //  -webkit-transform: rotate(45deg);
              //  border-bottom-right-radius: 50px;
              //}
            }

          }
          //Second row
          &.second {
            > div {
              margin-right: 1em;
              font-size: 0.95em;
              label {
                color: inherit;
              }
              &.clear-filters {
                a {
                  color: $blue;
                  text-decoration: underline;
                  text-transform: uppercase;
                  transition: 0.3s color ease;
                  font-size: 0.75em;

                  &:hover {
                    color: $blue-hover;
                  }
                }
              }
            }
          }
        }
        .left-panel {
          width: 70%;
          float: left;
        }
      }
      &.list-wrapper {
        ul.contents-list {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          li {
            width: 26%;
            float: left;
            padding: 1em 1.25em;
            flex: 1 0 25%;
            box-sizing: border-box;
            padding: 0.75em;
            @include tabletportrait{
              width:100%;
            }
            .thumbnail-wrapper {
              img {
                max-width: 100%;
                height: auto;
              }
            }
            .info-wrapper {
              padding-top: 0.75em;
              p[class^='info'] {
                font-family: 'Montserrat';
                font-size: 0.85em;
                padding-bottom: 0.5em;
                text-transform: capitalize;
                &.info-genre {
                  &:before {
                    content: 'Genres:';
                    margin-right: 0.25em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}