  /* testimonial.scss **/
  .main-testimonial {
    .blue-header {
      @include blueheader($testimonial-control);
    }
    .testimonial-block {
      &.content-wrapper {
        display: inline-block;
        margin: 1em 0;
        background: $light-gray-bg;
        padding: 1.5em 1em;
        .content {
          width: 50%;
          margin: 0 auto;
          @include tabletportrait{
            width:60%;
          }
          .quote-bg {

          }
          p {
            @include setfontstyle('Roboto Slab', normal, 300);
            @include content-text(inherit);
          }
          span {
            &.author {
              @include setfontstyle('Montserrat', normal, 0.75em);
              font-weight: 700;
            }

          }
        }

      }
    }
  }